.wd-profile-name {
    font-weight: bold;
    font-size: large;
}

.wd-profile-tuitcount {
    font-size: small;
}

.wd-avatar-profile {
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 60%;
    width: 200px;
    height: auto;
}

.wd-zindex-bring-to-front {
    z-index: 10;
}

.wd-edit-profile-btn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    color: gray;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    align-items: center;
    position: absolute;
    white-space: nowrap;
}

.wd-absolute-avatar-component {
    position: absolute;
    top: 250px;
    left: 5%;
    width: 80%;
}

.wd-button-component {
    position: absolute;
    left: 80%;
    top: 75%;
}

.wd-banner {
    height: 600px;
}

.wd-parent-height {
    height: 550px;
}

.wd-banner-image {
    width: 100%;
    height: 400px;
}

.wd-bold {
    font-weight: bold;
}

