#wd-edit-profile {
    font-weight: bold;
}

.wd-back-button {
    font-weight: bold;
    color: black;
}

label {
    display: block;
    margin-bottom: 10px;
}

.wd-bio-input {
    width: auto;
    min-width: fit-content;
    height: auto;
}

.wd-date-input {
    /*display: none;*/
}

.wd-save-button {
    background-color: #0a53be;
    border-radius: 50px !important;
    background-color: black !important;
}

.wd-edit-profile-button {
    display: flex;
    align-items: center;
}