@import "../styles.css";

.left-col {
    width: 20%;
    float: left;
}

.mid-col {
    width: 60%;
    float: left;
}

.right-col {
    width: 20%;
    float: right;
}

.wd-search-bar {
    position: relative;
    top: 16px;
    width: 90%;
    height: 25px;
    background-color: darkgray;
    border-radius: 50px;
    border: none;
    background-image: url(search_icon.png);
    background-repeat: no-repeat;
    background-position: left 0.5% center;
    outline: 0;
    background-size: contain;
    padding-left: 40px;
}