@import "../styles.css";

.wd-search-bar {
    position: relative;
    top: 16px;
    width: 90%;
    height: 25px;
    background-color: darkgray;
    border-radius: 50px;
    border: none;
    background-image: url(search_icon.png);
    background-repeat: no-repeat;
    background-position: left 0.5% center;
    outline: 0;
    background-size: contain;
    padding-left: 40px;
}

::placeholder {
    color: white;
}

.wd-gear-icon {
    height: 60px;
    float: right;
}

.wd-search-container {
    width: 100%;
}

.wd-tabs {
    font-size: 15px;
    color: rgb(110, 118, 125);
    padding: 16px;
    text-decoration: none;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-top: none;*/
    /*border-left: none;*/
    /*border-right: none;*/
    /*border-color: rgb(110, 118, 125);*/
}

.wd-tabs-selected {
    font-size: 15px;
    color: rgb(29, 161, 242);
    border-bottom: rgb(29, 161, 242);
    padding: 16px;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(29, 161, 242);
}

.wd-for-you-cha {
    height: 20px;
    color: rgb(29, 161, 242);
    margin: 16px;
    text-decoration: none;
    border-bottom: rgb(29, 161, 242);
    border-spacing: 10px;
}

.wd-grid-row {
    clear: both;
    width: 100%;
}

hr {
    background-color: rgb(110, 118, 125);
}

.wd-grid-col-main-content {
    font-size: 13px;
    width: 80%;
    float: left;
}

.wd-grid-col-left-90 {
    width: 90%;
    float: left;
}

.wd-grid-col-right {
    float: right;
}

.wd-bordered-section {
    border-bottom: lightgray;
    padding-bottom: 12px;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.wd-grid-col-image {
    width: 20%;
    height: 100%;
    float: left;
}

.wd-more-option {
    float: right;
    /*margin-right: 12px;*/
}

hr {
    color: darkgray;
    border-width: 1px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.wd-img {
    width: 100%;
    height: auto;
}

.wd-symbol {
    width: auto;
    height: 13px;
}