.wd-whole-page {
    width: 95%;
    margin-left: 16px;
    background-color: black;
    border: solid 1px rgb(47, 51, 54);
}

.wd-more-option {
    font-size: 8px;
    float: right;
    color: rgb(110, 118, 125);
    padding-right: 16px;
}

.wd-float-done {
    clear: both;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}